@import '../../../scss/_variables.scss';

.home {
  width: 100%;
}
.home-container {
  background: linear-gradient(180deg, rgba(9, 44, 48, 1) 40%, rgba(251, 251, 251, 1) 100%, rgba(255, 255, 255, 1) 100%);
  width: 100%;
  max-width: $maxWidth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-button {
  margin-top: $topMargin;
}

.section-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  width: 100%;
  max-width: $maxWidth;
}

.home-main-top-section {
  min-height: 800px;
  width: 100%;
  max-width: $maxInnerWidth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: $topMargin;
  h1 {
    color: $whiteDark;
  }
}

.home-main-bottom-section {
  width: 100%;
  max-width: $maxWidth;
  margin-top: $topMargin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    color: $blackLight;
  }
}

.home-main-guru {
  position: relative;
  background-image: url(/images/guru.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
  .guru-description {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 100px;
    margin-bottom: 100px;
    p {
      padding-bottom: 30px;
      font-size: 3.2rem;
      font-weight: 700;
      color: $redLight;
    }
  }
  .guru-button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 100px;
    margin-bottom: 30px;
  }
}

.main-elements {
  width: 100%;

  max-width: $maxInnerWidth;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
  p {
    padding: 15px 0;
    color: $whiteDark;
    font-size: 1.35rem;
    text-align: center;
  }
  .main-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    img {
      background: #fff;
      border: 5px solid $silver;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 16px 28px 15px -12px rgba(0, 0, 0, 0.7);
    }
  }
}

.home-main-quote {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $black;
  font-family: 'Bad Script', cursive;
  font-size: 2.8rem;
  margin-bottom: 100px;
  @media screen and (max-width: 960px) {
    width: 80%;
    font-size: 2.6rem;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
    font-size: 2.2rem;
  }
}
