@import '../../scss/_variables.scss';

.hero-container {
  width: 100%;
  max-width: $maxWidth;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -$navbarHeight;
  background: url('../../images/hero.jpg') center center/cover no-repeat;
  .hero-content {
    margin-top: $navbarHeight;
    padding: 50px 50px;
    text-align: center;
    h1 {
      color: black;
    }
    .hero-content-brand-name {
      font-size: 64px;
      margin-top: 150px;
    }
  }
}
