$maxWidth: 1920px;
$maxInnerWidth: 1280px;
$topMargin: 70px;
$navbarHeight: 120px;
$footerHeight: 300px;
$white: #fff;
$whiteDark: #dee4e7;
$black: rgb(0, 0, 0);
$blackLight: #101820;
$redDark: rgb(185, 5, 5);
$red: #e50914;
$redLight: #ff0800;
$silver: #cec9b0;
$yellow: #fee715ff;
$green: #34e89e;
